body {
font-size: 22px;
}
p, h1,h2,h3,h4,h5,li,a {opacity: 0.7;
  font-family: 'Times New Roman', Times, serif!important;
}

.paperfg {
  z-index: 12;
/*  background-size: 80%;*/
  background-image: url("assets/paperfg.png");
  background-repeat: no-repeat;
background-position: center top;}
.paperbg{

z-index: -2;
 /*background-size: 80%;*/
   background-image: url(assets/paperbg.png);
    background-repeat: no-repeat;
  background-position: center top;
 /* background-attachment: fixed;*/

   
  }

body h1{text-align:center;}
/*
h1 { font-size: 80px; font-stretch: expand ;margin-top: 10px; margin-bottom: 10px; }
h2 { font-size:60px; margin-top: 10px; margin-bottom: 10px;}
h3 { font-size:25px;margin-top: 5px; margin-bottom: 5px; }
/*p { font-size:25px;margin-top: 5px; margin-bottom: 5px; }*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  opacity: 0;
z-index: 30;

 /* background-color: rgba(177, 122, 78, 0.479);*/
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  left: 7%;
  background-image: url(assets/wood3.png);
  background-repeat: round;
  box-shadow: 10px 10px 20px rgb(48, 47, 47);
 background-size: 120% 200%;
  width: 80%;
 /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
 font-size: 180%;

 padding: 20px;
/* margin: 0px auto 0px;*/
}
.navbar:hover {opacity: 1;}

/*the text to look burned in*/
.navbar a{
 /* opacity:0.5;*/
 padding: 10px;
  font-weight: 900;
  text-decoration: none;
  text-shadow:0 0 20px rgba(151, 55, 0, 0.719),  
 0 0 8px rgba(140, 56, 14, 0.733),
  0 0 6px rgba(107, 55, 7, 0.8), 
  0 0 5px rgba(100, 56, 17, 0.85),
  0 0 5px rgba(90, 39, 16, 0.863),
   0 0 4px rgba(80, 33, 5, 0.9), 
  /* 0 0 3px rgb(0, 0, 0),
   0 0 2px rgb(0, 0, 0),
   0 0 1px rgb(0, 0, 0),*/
   -1px -1px 1px rgb(0, 0, 0), 1px 1px 1px rgb(255, 255, 255) ;

                 /*  text-shadow: 0 0 3px rgba(0, 0, 0, 0.95), 0 0 4px rgba(80, 33, 5, 0.9), 0 0 5px rgba(75, 38, 5, 0.85),
  0 0 6px rgba(107, 55, 7, 0.8), 0 0 7px rgba(124, 55, 16, 0.75), 0 0 8px rgba(140, 55, 14, 0.7),
                 0 0 3px rgba(0, 0, 0, 0.9), 0 0 5px rgba(124, 74, 16, 0.8), 0 0 3px rgba(66, 38, 5, 0.9),
                 0 0 20px rgb(151, 55, 0) ;*/
                 font-stretch: expanded;
color: rgba(34, 20, 11, 0.76);
}
/*the forgroundimage that is used as an overlay to create a scratched effect on everything printed*/
.imgfg {
  position: absolute;
  /*left: 10.5%;
  top: 40px;*/
    left: 0%;
  top: 0px;
z-index: 2;
  opacity: 0.7;
pointer-events: none;
 
}
/*this link class defines links that are used outside navbars*/
.link{opacity: 1;}

.link:hover { text-shadow: 2px 2px 5px rgba(100, 100, 100, 0.849);}

        body {
            background-image: url(assets/boden.jpg);
        }

        /*main element looks like paper*/
.wantedMain{float: left;  margin-top: 30px; margin-bottom: 30px;
  height: 1200px;
  left: 10%;
  width: 79%;
  box-shadow: 10px 10px 20px rgb(48, 47, 47);
  background-image: url(assets/paperbg.png);
}

footer {
    text-align: center;
}